.main__cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.main__items {
    flex-basis: calc((100% - (1 - 1) * 30px) / 1);
    @media screen and (min-width:768px) {
        flex-basis: calc((100% - (2 - 1) * 30px) / 2);
        
    }
    @media screen and (min-width:1200px) {
    
    flex-basis: calc((100% - (3 - 1) * 30px) / 3);
        
    }
}

// MAIN LINKS
.main__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow var(--global-animation);



&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

&:hover .main__overlat-part,
&:focus .main__overlat-part {
    transform: translateY(0%);
    opacity: 1;
}}

/* overlay-card */
.main__overlay-head {
    position: relative;
    overflow: hidden;

}

.main__overlat-part {
    position: absolute;
    padding: 77px 24px;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--global-animation), opacity var(--global-animation);
    
    @media screen and (max-width:479px) {
            padding-bottom: 30px;
            padding-top: 20px;
    
        }
    @media screen and (min-width:768px) {
            padding-bottom: 77px;
            padding-top: 49px;
        
    }
    @media screen and (min-width:1200px) {
      padding: 63px 24px;

  }
}

.main__text {
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: var(--footer__address-hover);
   
    @media screen and (max-width:405px) {
        font-size: 17px;
        }
    @media screen and (min-width:200px) and (max-width:307px) {
        font-size: 14px;
        line-height: calc(17 / 14);
            letter-spacing: .02em;
    }
    @media screen and (min-width:308px) and (max-width:340px) {
        font-size: 16px;
        line-height: calc(19 / 16);
        letter-spacing: .02em;
    }
}

.main__description {
    flex-grow: 1;

    padding: 20px 24px;
    background-color: var(--footer__address-hover);
    border: 1px solid #eeeeee;
    border-top: none;
//     @media screen and (min-width:768px) {
//             padding: 56px 24px;
//         }
// }
// .main__description--other-padd{
//     @media screen and (max-width:768px) {
//         padding-bottom: 20px;
//         }
}
.main__headline-descrip {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: calc(36 / 18);
    color: var(--headline-text-color);
    letter-spacing: 0.06em;
}

.main__subline-descrip {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--main-text-color);
    letter-spacing: 0.03em;
}