:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;

    --secondary-font: 'Raleway', sans-serif;
    /* text-colors */
    --main-text-color: #757575;
    --headline-text-color: #212121;
    --link-hover-text-color: #2196f3;
    --footer__logo-color: #ffffff;
    --footer__address-hover: #ffffff;
    --footer__address-text-color: #ffffff99;
    --logo-header-black: #000000;

    /* bg-colors */
    --nav-bg-color: #ffffff;
    --navig-bg-color: #ececec;
    --section-footer__bg-color: #2f303a;
    --teammates__section-bg-color: #f5f4fa;
    --portfolio-buttons-bg-color: #f5f4fa;
    --portfolio-buttons-hover-bg-color: #2196f3;
    /* others */
    --indent: 30px;
    --items: 3;
    --global-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}